.nav-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.logo{
    width: 12rem;
    height: auto;
}

.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li{
    margin: 0 1.5rem;
}

.menu-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #a993fe;
}

.menu-item a.active {
    font-weight: bold;
    color: #fff;
    border-bottom: 1.5px solid #7e61e7;
}
 